.catalogue {
  padding: 4rem 0;

  &-item {
    color: $default-color;
    display: block;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    letter-spacing: .5px;
    font-size: 0.8rem;
    margin-top: 0;
    display: block;
  }

  &-title {
    align-items: left;
    color: $default-shade;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;

    a {
        color: $default-shade !important;
        text-decoration: none;
    }
  }

  &-title-date-container {
    display: flex;

    .title-tags {
      display: flex;
      flex: 1;

      .post-tags {
        margin: 0;
        a {
            font-size: 0.7rem;
        }
      }
    }

    .catalogue-time {
      flex-shrink: 0;
    }
  }

  &-line {
    @include transition(all .3s ease-out);
    display: block;
    width: 2rem;
    margin-top: 1rem;
  }

}
