{%- macro time() -%} 
{%- if config.extra.footer.start_year -%} 
  {%- set start_year = config.extra.footer.start_year -%} 
{%- else -%} 
  {%- set start_year = now() | date(format="%Y") -%} 
{%- endif -%} 

{%- if config.extra.footer.end_year -%} 
  {%- set end_year = config.extra.footer.end_year -%} 
{%- else -%} 
  {%- set end_year = now() | date(format="%Y") -%} 
{%- endif -%}
{%- if start_year == end_year -%} 
  {%- set year = start_year -%} 
{%- else -%} 
  {%- set year = start_year ~ "-" ~ end_year -%} 
{%- endif -%}

<time datetime="{{ now() }}">{{ year }}</time>
{%- endmacro -%} {% macro page(page) -%}
<div class="catalogue-item">
  <div class="catalogue-title-date-container">
    <div class="title-tags">
      <h1 class="catalogue-title">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </h1>
      <div class="post-tags">
        {%- if page.taxonomies.tags -%}
          {%- for tag in page.taxonomies.tags -%}
            <a href="/tags/{{ tag | replace(from='/', to='-') }}/">{{ tag }}</a>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
    <time datetime="{{ page.date }}" class="catalogue-time">{{ page.date | date(format=config.extra.timeformat | default(value="%B %e, %Y")) }}</time>
  </div>
  <div class="catalogue-line"></div>
  <p>{%- if page.summary -%} {{ page.summary | safe }} {%- endif -%}</p>
</div>
{%- endmacro %}
